@import "../../styles/breakpoints";

.footer {
  padding: var(--size-7) var(--size-4);
  background-color: var(--color-1);
  .wrapper {
    max-width: 1140px;
    margin: 0 auto;
  }
  .contact {
    font-weight: 700;
    margin-bottom: var(--size-5);
    p {
      font-size: 28px;
    }
  }
}
.separator {
  border-bottom: 1px solid rgb(221, 221, 221) !important;
  margin: var(--size-4) 0;
}
.bold {
  font-weight: 700;
  margin-bottom: var(--size-2);
}
.links > li {
  margin-bottom: var(--size-2);
}
