@use "../../styles/breakpoints";

.wrapper {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
  min-height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: var(--size-4);
  padding-right: var(--size-4);
  .intro {
    margin-bottom: var(--size-5);
  }
  @include breakpoints.respond-above(max) {
    padding-left: 0;
    padding-right: 0;
  }
}
.itemsGrid {
  animation: 0.5s slideUp ease forwards;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
