@import "../breakpoints";

.list {
  &Grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: var(--space-1);
    padding-left: var(--size-4);
    padding-right: var(--size-4);
    @include respond-above(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond-above(laptop) {
      padding-left: unset;
      padding-right: unset;
    }
  }
  &Title {
    font-weight: 600;
    margin-bottom: var(--size-2);
  }
}
