@import "../breakpoints";

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-left: var(--size-4);
  padding-right: var(--size-4);
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: var(--space-1);
  @include respond-above(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  .cover {
    grid-column: 1 / -1;
  }
}
