@import "../../styles/breakpoints";

.wrapper {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
  min-height: 100%;

  .intro {
    padding-left: var(--size-4);
    padding-right: var(--size-4);
    margin-bottom: var(--size-5);
    @include respond-above(max) {
      padding-left: 0;
      padding-right: 0;
      max-width: 1140px;
      margin: 0 auto;
      margin-bottom: var(--size-5);
    }
  }
}
