.wrapper {
  padding: var(--space-1) var(--size-4);
  min-height: 100%;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  .articleText {
    p {
      margin-top: var(--size-4);
      margin-bottom: var(--size-4);
      color: #4d4d4d;
    }
  }
}
