@import "../../styles/breakpoints";

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: var(--size-1);
  .imageWrapper {
    position: relative;
    border-radius: var(--radius-3);
  }
  @include respond-above(tablet) {
    grid-auto-rows: 500px;
  }
}
