@import "../../styles/breakpoints";

.gallerySmall {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 250px;
  gap: var(--size-2);
  .imageWrapper {
    position: relative;
    border-radius: var(--radius-3);
  }
  .imageWrapper:nth-child(1) {
    grid-row: 1 / -1;
  }
  .imageWrapper:nth-child(2) {
    grid-row: 2 / -1;
  }
  @include respond-above(tablet) {
    grid-template-rows: 50px 500px;
  }
}
