@import "../../styles/breakpoints";

.reviewCard {
  width: 100%;
  padding: var(--size-4);
  border-radius: var(--radius-2);
  background-color: var(--color-2);
  color: var(--color-2-text);
  .content {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--size-3);
    .about {
      margin-bottom: var(--size-2);
    }
    .title {
      font-size: 20px;
      margin-bottom: var(--size-1);
    }
    .description,
    .moduleSec {
      color: var(--color-2-text);
      opacity: 0.75;
      font-weight: 600;
      line-height: 1;
    }
    .moduleMain {
      font-weight: 700;
      opacity: 0.9;
    }
    .reviewModule {
      display: flex;
      gap: var(--size-4);
      p {
        margin: 0;
      }
    }
  }
  .imageGridTwo,
  .imageGridThree {
    display: grid;
    gap: var(--size-1);
    overflow: hidden;
    border-radius: var(--radius-1);
  }
  .imageGridTwo {
    grid-template-columns: repeat(2, 1fr);
  }
  .imageGridThree {
    grid-template-columns: repeat(3, 1fr);
  }
  .rating {
    margin-top: var(--size-2);
    line-height: 1;
    .star {
      width: 18px;
      height: 18px;
      margin-right: 2px;
      display: inline-block;
      background-repeat: no-repeat;
    }
    .empty {
      background-image: url(../../public/stars/empty.svg);
    }
    .half {
      background-image: url(../../public/stars/half.svg);
    }
    .full {
      background-image: url(../../public/stars/full.svg);
    }
  }
  @include respond-above(tablet) {
    width: 92%;
    margin: 0 auto;
    will-change: scale;
    transition: 0.3s;
    .content {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      .about {
        margin-bottom: 0;
      }
    }
  }
  @include respond-above(laptop) {
    max-width: 42rem;
  }
  @media (hover: hover) {
    &:hover {
      transform: scale(1.02);
      cursor: pointer;
    }
  }
}
