@import "../breakpoints";

.card {
  border-radius: var(--radius-3);
  margin-top: var(--space-1);
  margin-left: var(--size-4);
  margin-right: var(--size-4);
  background-color: var(--color-1);
  will-change: transform;
  transform: translateY(5px);
  transition: transform ease 0.2s;
  overflow: hidden;
  &About {
    padding: var(--size-5);
  }
  .title {
    font-weight: 600;
    margin-bottom: var(--size-3);
  }
  .imageWrapper {
  }
  @include respond-above(laptop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include respond-above(max) {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (hover: hover) {
    &:hover {
      transform: translateY(0);
      transition: transform ease 0.5s;
    }
  }
}
