.title {
  overflow: hidden;
  max-width: 40ch;
  line-height: 60px;
}
.rowLetter {
  display: inline-block;
  transform: translateY(100%);
  animation: 800ms animateLetters cubic-bezier(0.6, 0.01, 0.05, 0.95) forwards;
}
.overflow {
  overflow: hidden;
  will-change: transform;
}
.subheading {
  max-width: 65ch;
  transform: translateY(100%);
  animation: 800ms 800ms animateLetters cubic-bezier(0.6, 0.01, 0.05, 0.95)
    forwards;
}
@keyframes animateLetters {
  to {
    transform: translateY(0);
    overflow: visible;
  }
}
