@import "breakpoints";

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
.h1 {
  font-size: 3rem;
  letter-spacing: -0.003em;
}
h2,
.h2 {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: 0em;
}

h3,
.h3 {
  font-size: 2rem;
  line-height: 1.125;
  letter-spacing: 0.004em;
}

h4,
.h4 {
  font-size: 1.625rem;
  line-height: 1.2105263158;
  letter-spacing: 0.012em;
}

p,
li,
a {
  font-size: 1.0625rem;
  line-height: 1.4705882353;
  letter-spacing: -0.022em;
}

@include respond-below(smallPhone) {
  h1,
  .h1 {
    font-size: 2.75rem;
  }
  h2,
  .h2 {
    font-size: 2.375rem;
  }

  h3,
  .h3 {
    font-size: 1.875rem;
  }

  h4,
  .h4 {
    font-size: 1.5rem;
  }

  p,
  li,
  a {
    font-size: 1rem;
  }
}
