body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
.h1 {
  font-size: 48px;
  line-height: 1.0834933333;
  letter-spacing: -0.003em;
}
h2,
.h2 {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0em;
}

h3,
.h3 {
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: 0.004em;
}

h4,
.h4 {
  font-size: 26px;
  line-height: 1.2105263158;
  letter-spacing: 0.012em;
}

p,
li,
a {
  font-size: 17px;
  line-height: 1.4705882353;
  letter-spacing: -0.022em;
}
