@import "../styles/breakpoints";

.about {
  padding-top: var(--space-1);
  padding-bottom: var(--size-5);
  &Text {
    margin-bottom: var(--size-4);
    max-width: 600px;
    h2 {
      margin-bottom: var(--size-1);
    }
  }
  .position {
    margin-bottom: var(--size-1);
  }
}
