@import "../styles/breakpoints";

.footer {
  padding: var(--size-7) var(--size-4);
  background-color: var(--color-3);

  .message {
    margin-bottom: var(--size-9);
    h2 {
      font-size: 36px;
      line-height: 1;
    }
    h3 {
      font-size: 30px;
    }
  }
  .contact {
    font-weight: 700;
    margin-bottom: var(--size-5);
    p {
      font-size: 28px;
    }
  }
  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-4);
    text-align: left;
    font-weight: 600;
  }

  @include respond-above(tablet) {
    .wrapper {
      max-width: 92%;
      margin: 0 auto;
    }
    .links {
      max-width: 40rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @include respond-above(laptop) {
    padding: var(--size-7);
    .wrapper {
      max-width: 1140px;
    }
    .group {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
