@use "reset";
@use "variables";
@use "typography";
@use "breakpoints";

@media (max-width: 35rem) {
  .overflowControl {
    overflow: hidden;
    position: fixed;
  }
}
.globalWrapper {
  padding-left: var(--size-4);
  padding-right: var(--size-4);
  max-width: 1140px;
  margin: 0 auto;
  @include breakpoints.respond-above(max) {
    padding-left: 0;
    padding-right: 0;
  }
}
