@import "../styles/breakpoints";

.ImageGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  @include respond-above(tablet) {
    grid-template-columns: repeat(12, 1fr);
    gap: var(--size-2);
    padding: var(--size-4);
  }
}
